# WaltIdAuditorApi.VerificationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**overallStatus** | **Boolean** |  | 
**policyResults** | **{String: Boolean}** |  | 


