
# VerificationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**overallStatus** | **kotlin.Boolean** |  | 
**policyResults** | **kotlin.collections.Map&lt;kotlin.String, kotlin.Boolean&gt;** |  | 



